@use '../node_modules/@growstocks/stack/Core/Theme';
@use '../node_modules/@growstocks/stack/Core/Color';
@use '../node_modules/@growstocks/stack/Core/Shape';
@use '../node_modules/@growstocks/stack/Core/Typography';
@use '../node_modules/@growstocks/stack/Core/Elevation';

@use '../node_modules/@growstocks/stack/Components/SCButton';
@use '../node_modules/@growstocks/stack/Components/SCCard';
@use '../node_modules/@growstocks/stack/Components/SCHeader';
@use '../node_modules/@growstocks/stack/Components/SCNavbar';

@use 'themes/parent-theme' as theme;

:root {
    @include Theme.config(
        #3e608d,
        #5ac2a3,
        $surface: #121f32,
        $on-surface: #fff
    );
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');

@include Typography.config(
    $global-font: 'Noto Sans JP',
    $title-font: 'M PLUS Rounded 1c',
    $subtitle-font-weight: 700,
);

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    color: inherit;

    &::before,
    &::after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
        color: inherit;
    }
}

html {
    --sc-theme--on-primary: #fff !important;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--sc-theme--surface);
    color: var(--sc-theme--on-surface);
}

.content-wrap {
    width: calc(100% - 20px);
    max-width: 1077px;
    margin: 0 auto;
    padding: 10px 0 70px 0;

    & > * + * {
        margin-top: 20px !important;
    }

    @media (min-width: Theme.get-breakpoint('medium')) {
        padding: 10px 0 35px 0;
    }
}

.content-wrap--no-banner {
    width: calc(100% - 20px);
    max-width: 1077px;
    margin: 0 auto;
    padding: 67px 0 70px 0;

    & > * + * {
        margin-top: 20px !important;
    }

    @media (min-width: Theme.get-breakpoint('medium')) {
        padding: 67px 0 35px 0;
    }
}

@include SCButton.render(
    $color-theme: (
        'active': (#a6efd9, #000)
    ),
    $shape-theme: theme.$small-shape-theme,
    $typography-theme: (
        'font-size': 14px,
    )
);
@include SCCard.render(
    $color-theme: (
        'default': (var(--sc-theme--primary), var(--sc-theme--on-primary))
    ),
);
@include SCHeader.render(
    $is-scrollable: true
);

.sc-header {

    & > * {
        flex-basis: 100%;
    }

    .sc-header__text {
        h2 {
            font-size: 24px;
        }
    }

    .sc-header__others {
        padding: 0.5rem 0.7rem;
        height: 100%;
        position: relative;
        top: -2px;

        .language {
            display: flex;
            flex-flow: row nowrap;

            & > * + * {
                margin-left: 0.5rem;
            }

            .language__item {
                font-size: Typography.px-to-rem(14px);

                &.active {
                    font-weight: 700;
                    text-decoration: underline;
                }
            }
        }
    }
}

@include SCNavbar.render($nav-contents: 2);

.banner {
    height: 67vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/midori.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    place-items: center;

    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - 30px) calc(100% - 20px), 0 calc(100% - 20px));

    .banner__wrap {
        text-align: center;

        h1 {
            font-size: Typography.px-to-rem(50px);
            text-shadow: 5px 5px var(--sc-theme--primary-dark);
        }

        .banner__actions {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            gap: 0.5rem;
        }
    }
}

.description-group {
    p {
        font-size: min(14px, 4vw);
    }

    &.filled {
        // $cut-size: 25px;
        padding: 0.5rem 0.7rem;
        // clip-path: polygon(calc(100% - #{$cut-size}) 0, 100% calc(0% + #{$cut-size}), 100% 100%, 0 100%, 0 0);

        @include Color.apply('filled', (
            'default': (var(--sc-theme--primary), var(--sc-theme--on-primary)),
            'elevation': #000
        ));
        @include Shape.apply((
            'shape': default,
            'border-radius': 0.3rem
        ));
    }
}

.legal-contents {
    font-family: 'Consolas', monospace;
    color: #000;
    overflow-y: scroll;
    height: 400px!important;
    background-color: #fff;
    margin: 10px 0;
    padding: 0.5rem;

    @include Elevation.apply(3);

    a {
        font-family: 'Consolas', monospace;
        text-decoration: underline;
        color: #000;

        &:hover {
            color: var(--sc-theme--primary-dark);
        }
    }
}
