@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap");
:root {
  --sc-theme--primary-light: #8f97a2;
  --sc-theme--primary: #3e608d;
  --sc-theme--primary-dark: #2b4261;
  --sc-theme--secondary-light: #b7cbc5;
  --sc-theme--secondary: #5ac2a3;
  --sc-theme--secondary-dark: #3ba183;
  --sc-theme--on-primary: #000;
  --sc-theme--on-secondary: #000;
  /* STATES */
  --sc-theme--error: #b00020;
  --sc-theme--warning: #ffa000;
  --sc-theme--success: #25a53f;
  --sc-theme--on-error: #fff;
  --sc-theme--on-warning: #000;
  --sc-theme--on-success: #fff;
  /* CUSTOM PROPERTIES */
  --sc-theme--surface: #121f32;
  --sc-theme--on-surface: #fff;
}

* {
  font-family: "Noto Sans JP", sans-serif;
}
*::before, *::after {
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
}

p {
  font-weight: 400;
  font-family: "Noto Sans JP", sans-serif;
}

b {
  font-weight: 700;
  color: inherit;
}

html {
  font-size: 100%;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
}
*::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
}

html {
  --sc-theme--on-primary: #fff !important;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--sc-theme--surface);
  color: var(--sc-theme--on-surface);
}

.content-wrap {
  width: calc(100% - 20px);
  max-width: 1077px;
  margin: 0 auto;
  padding: 10px 0 70px 0;
}
.content-wrap > * + * {
  margin-top: 20px !important;
}
@media (min-width: 540px) {
  .content-wrap {
    padding: 10px 0 35px 0;
  }
}

.content-wrap--no-banner {
  width: calc(100% - 20px);
  max-width: 1077px;
  margin: 0 auto;
  padding: 67px 0 70px 0;
}
.content-wrap--no-banner > * + * {
  margin-top: 20px !important;
}
@media (min-width: 540px) {
  .content-wrap--no-banner {
    padding: 67px 0 35px 0;
  }
}

.sc-button {
  width: max-content;
  min-width: 57px;
  display: inline-flex;
  justify-content: center;
  place-items: center;
  border: none;
  user-select: none;
  padding: 8px 12px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  color: var(--sc-theme--secondary);
  border: none;
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: inherit;
  text-transform: inherit;
  border-radius: 500px;
}
.sc-button > * + * {
  margin-left: 7px;
}
.sc-button:hover {
  cursor: pointer;
}
.sc-button:focus, .sc-button:active {
  outline: none;
  -webkit-transition: all 0.125s ease !important;
  transition: all 0.125s ease !important;
}
.sc-button:disabled {
  pointer-events: none;
}
.sc-button:disabled .sc-button__icon--loading {
  animation: rotate 1.7s linear infinite;
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.sc-button .sc-button__label {
  font-weight: inherit;
  font-size: inherit;
  text-align: left;
  color: inherit;
}
.sc-button .sc-button__icon {
  font-size: 1.25rem;
  position: relative;
  color: inherit;
  /* @fallback */
  width: 1.25rem;
  height: 1.25rem;
}
.sc-button:hover {
  color: var(--sc-theme--secondary);
  cursor: pointer;
}
.sc-button:focus {
  color: var(--sc-theme--secondary);
  cursor: pointer;
}
.sc-button:active {
  color: #a6efd9;
  cursor: pointer;
}
.sc-button:disabled {
  color: var(--sc-theme--secondary-dark);
}
.sc-button.sc-button--outlined {
  color: var(--sc-theme--secondary);
  border: 1px solid var(--sc-theme--secondary);
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: inherit;
  text-transform: inherit;
  border-radius: 500px;
}
.sc-button.sc-button--outlined:hover {
  color: var(--sc-theme--on-secondary);
  background: var(--sc-theme--secondary);
  border: 1px solid var(--sc-theme--secondary);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.sc-button.sc-button--outlined:focus {
  color: var(--sc-theme--on-secondary);
  background: var(--sc-theme--secondary);
  border: 1px solid var(--sc-theme--secondary);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.sc-button.sc-button--outlined:active {
  color: #000;
  background: #a6efd9;
  border: 1px solid #a6efd9;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}
.sc-button.sc-button--outlined:disabled {
  color: var(--sc-theme--secondary-dark);
  border: 1px solid var(--sc-theme--secondary-dark);
}
.sc-button.sc-button--outlined:disabled:hover {
  background: rgba(0, 0, 0, 0);
}
.sc-button.sc-button--filled {
  color: var(--sc-theme--on-secondary);
  border: 1px solid var(--sc-theme--secondary);
  background: var(--sc-theme--secondary);
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: inherit;
  text-transform: inherit;
  border-radius: 500px;
}
.sc-button.sc-button--filled:hover {
  color: var(--sc-theme--on-secondary);
  border: 1px solid var(--sc-theme--secondary);
  background: var(--sc-theme--secondary);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
.sc-button.sc-button--filled:focus {
  color: var(--sc-theme--on-secondary);
  border: 1px solid var(--sc-theme--secondary);
  background: var(--sc-theme--secondary);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
.sc-button.sc-button--filled:active {
  color: #000;
  border: 1px solid #a6efd9;
  background: #a6efd9;
  cursor: pointer;
  -webkit-box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}
.sc-button.sc-button--filled:disabled {
  color: var(--sc-theme--on-secondary);
  border: 1px solid var(--sc-theme--secondary-dark);
  background: var(--sc-theme--secondary-dark);
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.sc-button.sc-button--filled:disabled:hover {
  cursor: not-allowed;
}

.sc-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  margin: 0;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  color: var(--sc-theme--on-primary);
  border: 1px solid var(--sc-theme--primary);
  background: var(--sc-theme--primary);
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0.3rem;
}
.sc-card .sc-card__img {
  width: 100%;
  height: 120px !important;
  overflow-y: hidden;
}
.sc-card .sc-card__img img {
  width: 100%;
  height: auto !important;
}
.sc-card .sc-card__info {
  padding: 10px;
  color: inherit;
}
.sc-card .sc-card__info .sc-card__info__title {
  font-size: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: inherit;
}
.sc-card .sc-card__info .sc-card__info__subtitle {
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: inherit;
}
.sc-card .sc-card__action__wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  padding: 0 10px 5px 10px;
  grid-gap: 10px;
}
.sc-card .sc-card__action__wrap a {
  width: max-content;
}
.sc-card .sc-card__action__wrap a .sc-card__action {
  min-width: 24px !important;
  padding: 0 !important;
}

.sc-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  height: auto;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: var(--sc-theme--on-primary);
  border: 1px solid var(--sc-theme--primary);
  background: var(--sc-theme--primary);
  border-radius: 0;
  font-size: 1.25rem;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
.sc-header .sc-header__wrap {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  position: relative;
}
.sc-header .sc-header__wrap .sc-header__text {
  padding: 0.3rem 0.7rem;
  font-size: 1.25rem;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.sc-header .sc-header__wrap .sc-header__text > * {
  color: inherit;
}
@media (min-width: 540px) {
  .sc-header .sc-header__wrap .sc-header__text {
    padding: 0.3rem 0.7rem 0.3rem 0;
  }
}
.sc-header .sc-header__wrap .sc-header__text.invisible {
  display: none;
}
@media (min-width: 540px) {
  .sc-header .sc-header__wrap {
    width: calc(100% - 34px);
    margin: 0 auto;
  }
}

.sc-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  height: auto;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.sc-header .sc-header__wrap {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  position: relative;
}
.sc-header .sc-header__wrap .sc-header__text {
  padding: 0.3rem 0.7rem;
  font-size: 1.25rem;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.sc-header .sc-header__wrap .sc-header__text > * {
  color: inherit;
}
@media (min-width: 540px) {
  .sc-header .sc-header__wrap .sc-header__text {
    padding: 0.3rem 0.7rem 0.3rem 0;
  }
}
.sc-header .sc-header__wrap .sc-header__text.invisible {
  display: none;
}
@media (min-width: 540px) {
  .sc-header .sc-header__wrap {
    width: calc(100% - 34px);
    margin: 0 auto;
  }
}
.sc-header.sc-header--scrollable {
  background: transparent;
  border-color: transparent;
  color: var(--sc-theme--on-primary);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
.sc-header.sc-header--scrollable.scrolled {
  color: var(--sc-theme--on-primary);
  border: 1px solid var(--sc-theme--primary);
  background: var(--sc-theme--primary);
  border-radius: 0;
  font-size: 1.25rem;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.sc-header > * {
  flex-basis: 100%;
}
.sc-header .sc-header__text h2 {
  font-size: 24px;
}
.sc-header .sc-header__others {
  padding: 0.5rem 0.7rem;
  height: 100%;
  position: relative;
  top: -2px;
}
.sc-header .sc-header__others .language {
  display: flex;
  flex-flow: row nowrap;
}
.sc-header .sc-header__others .language > * + * {
  margin-left: 0.5rem;
}
.sc-header .sc-header__others .language .language__item {
  font-size: 0.875rem;
}
.sc-header .sc-header__others .language .language__item.active {
  font-weight: 700;
  text-decoration: underline;
}

.sc-nav {
  width: 100%;
  position: fixed;
  padding: 0.5rem 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  color: var(--sc-theme--on-primary);
  border: 1px solid var(--sc-theme--primary);
  background: var(--sc-theme--primary);
  border-radius: 0;
  font-size: 0.75rem;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
@media (min-width: 540px) {
  .sc-nav {
    width: max-content;
    bottom: inherit;
    position: relative;
    padding: 0.3rem 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
.sc-nav .sc-nav__container {
  display: grid;
  grid-column: 1/-1;
  padding: 0.3rem 0;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  grid-gap: 0.5rem;
  text-align: center;
  height: max-content;
}
@media (min-width: 540px) {
  .sc-nav .sc-nav__container {
    width: 100px;
    padding: 0;
    text-align: right;
  }
}
.sc-nav .sc-nav__container .sc-nav__item {
  margin: 0 auto;
  cursor: pointer;
  color: currentColor !important;
  display: flex;
  align-items: center;
  height: 24px;
}
.sc-nav .sc-nav__container .sc-nav__item > a, .sc-nav .sc-nav__container .sc-nav__item > p {
  display: block;
  color: inherit;
}
.sc-nav .sc-nav__container .sc-nav__item > a:hover, .sc-nav .sc-nav__container .sc-nav__item > p:hover {
  filter: brightness(70%);
}
.sc-nav .sc-nav__container .sc-nav__item.active {
  color: var(--sc-theme--secondary) !important;
}
.sc-nav .sc-nav__container .sc-nav__item .sc-nav__item__icon {
  font-size: 1.5rem;
  color: inherit;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
@media (min-width: 540px) {
  .sc-nav .sc-nav__container .sc-nav__item .sc-nav__item__icon {
    margin-top: 4px;
  }
}
.sc-nav .sc-nav__container .sc-nav__item .sc-nav__item__text {
  font-size: 0.75rem !important;
  margin-top: -3px;
  color: inherit !important;
}
@media (min-width: 540px) {
  .sc-nav .sc-nav__container .sc-nav__item .sc-nav__item__text {
    display: none !important;
    /*font-size: 16px!important;
    margin-top: 0;*/
  }
}
.sc-nav .sc-nav__container .sc-nav__item[data-tooltip] {
  position: relative;
}
.sc-nav .sc-nav__container .sc-nav__item[data-tooltip]::after {
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  padding: 0.5rem 0.7rem;
  font-size: 0.75rem;
  bottom: calc(-100% - 10px);
  margin-left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  opacity: 0;
  transition: opacity ease-in-out 200ms;
  pointer-events: none;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: #fff;
  border: 1px solid #232323;
  background: #232323;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
@media (max-width: 540px) {
  .sc-nav .sc-nav__container .sc-nav__item[data-tooltip]::after {
    display: none !important;
    opacity: 0 !important;
  }
}
.sc-nav .sc-nav__container .sc-nav__item[data-tooltip]:hover::after {
  opacity: 1;
}

.banner {
  height: 67vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/midori.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - 30px) calc(100% - 20px), 0 calc(100% - 20px));
}
.banner .banner__wrap {
  text-align: center;
}
.banner .banner__wrap h1 {
  font-size: 3.125rem;
  text-shadow: 5px 5px var(--sc-theme--primary-dark);
}
.banner .banner__wrap .banner__actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.5rem;
}

.description-group p {
  font-size: min(14px, 4vw);
}
.description-group.filled {
  padding: 0.5rem 0.7rem;
  color: var(--sc-theme--on-primary);
  border: 1px solid var(--sc-theme--primary);
  background: var(--sc-theme--primary);
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0.3rem;
}

.legal-contents {
  font-family: "Consolas", monospace;
  color: #000;
  overflow-y: scroll;
  height: 400px !important;
  background-color: #fff;
  margin: 10px 0;
  padding: 0.5rem;
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.legal-contents a {
  font-family: "Consolas", monospace;
  text-decoration: underline;
  color: #000;
}
.legal-contents a:hover {
  color: var(--sc-theme--primary-dark);
}

/*# sourceMappingURL=style.css.map */
